

@media (min-width: 1024px) {
  .btn-menu {
    display: none;
    position: relative;
  }
}

@media screen and (min-width: 600px) {
  .textHome-md {
    color: white;
    font-size: 80px;
    text-shadow: 32px 1px 18px wheat;
    margin-top: 348px;
  }
}
@media screen and (max-width: 600px) {
  .textHome-sm {
    font-size: 30px;
    color: white;
    text-shadow: 32px 1px 18px wheat;
    margin-top: 348px;
  }
}